<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.css">
        <link rel="stylesheet" href="src/css/common.css">
        <link rel="stylesheet" href="src/css/themes/simple_pc.css">
        <link rel="stylesheet" href="demos/prism.css">
        
        <!-- IE兼容  -->
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.5/es5-shim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script>html5.addElements('test')</script>
        <![endif]-->
        <script src="src/lib/riot.js"></script>
        <script src="src/lib/common.js"></script>
        <script src="src/iToolkit_pc.js"></script>
        <style>
            #fixed-list {
                width: 300px;
                position: fixed;
                height: 92%;
                overflow: auto;
                margin-top: 15px;
            }
            .wrap,
            #tree-wrap {
                height: 220px;
                width: 200px;
                border: 1px solid #e5e5e5;
                padding: 10px;
            }

            #loading .demo {
                height: 220px;
                width: 200px;
                border: 1px solid #e5e5e5;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-xs-4">
                <div class="list-group" id="fixed-list">
                    <h4>Introduction</h4>
                    <a href="#start" class="list-group-item">Get Start</a>
                    <h4>Common components</h4>
                    <a href="#tree" class="list-group-item">Tree</a>
                    <a href="#tab" class="list-group-item">Tab</a>
                    <a href="#table" class="list-group-item">Table</a>
                    <a href="#paginate" class="list-group-item">Paginate</a>
                    <a href="#modal" class="list-group-item">Modal</a>
                    <a href="#super-form" class="list-group-item">Form</a>
                    <a href="#super-div" class="list-group-item">Div</a>
                    <a href="#loading" class="list-group-item">Loading</a>
                    <a href="#goto-top" class="list-group-item">Goto-Top</a>
                    <a href="#editable-link" class="list-group-item">Editable-link</a>
                </div>
            </div>
            <div class="col-xs-8">
                <h1>iToolKit-PC</h1><hr>
                iToolkit是一系列常用控件的集合，基于<a href="https://muut.com/riotjs/">Riot</a>进行构建, 主要为了快速构建后台系统，针对后台系统中常用的表格、表单、树、分页等应用场景进行封装, 可以根据后台数据直接生成视图。
                <h3>为什么要开发iToolkit？</h3>
                <ul>
                    <li>统一的调用方式</li>
                    <li>数据直接生成视图</li>
                    <li>到处可用，无论原网站是采用何种技术方案，都可以加入使用</li>
                    <li>依赖库小，riot压缩后只有3.5KB, 适用于移动端开发、老项目改造</li>
                </ul>

                <section id="start">
                    <h2>Get Start</h2><hr>
                    <h4>如何引用</h4>
                    <ul>
                        <li>引入核心样式文件</li>
                        <li>引入JS文件</li>
                        <li>目前版本还需要引入图片</li>
                    </ul>
                    <h5>Example:</h5>
                    <pre><code class="language-markup"><script type="prism-html-markup">
<link rel="stylesheet" href="build/themes/simple_pc.css">
<script src="build/iToolkit_pc.js"></script></script></code></pre>

                    <h4>基本调用方式</h4>
                    <ul>
                        <li>使用相应的HTML标签</li>
                        <li>riot.mount()的第一个参数是一个字符串，写法等同于css选择器。</li>
                        <li>riot.mount()的第二个参数统一是一个object。</li>
                        <li>数据统一使用data字段，其他配置项请参考文档。</li>
                    </ul>
                    <h5>Example:</h5>
                    <pre><code class="language-markup"><script type="prism-html-markup">
<div id="tree-wrap" class="demo">
    <tree></tree>
</div></script></code></pre>
                    <pre><code class="language-javascript">
$.ajax({
    url: '/test',
    success: function(data) {
        riot.mount('#tree-wrap tree', {data: data, root: true});
    }
})</code></pre>
                    <h4>循环和表达式</h4>
                    <p>在诸如super-div, super-form, modal等组件中，用户可以在其中填入自己需要的内容，并且可以根据传入的data来进行展示和控制。</p>
                    <p>目前支持if、show、hide、each四种指令</p>
                    <h5>example:</h5>
                    <pre><code class="language-markup"><script type="prism-html-markup">
<super-div>
    <div if="{ data.exist }">只有管理员能看</div>
    <div show="{ data.exist }">想看其实也能看</div>
    <div hide="{ !data.exist }">你看不见我</div>
    <table>
        <tr each="{ data.data }">
            <td>{ name }</td>
            <td>{ age }</td>
            <td>{ score }</td>
        </tr>
    </table>

    <div each="{ name, value in obj }">{ name } = { value }</div>

</super-div>
                    </script></code></pre>
                    <p>支持绝大多数形式的表达式: </p>
                     <pre><code class="language-javascript">
{ title || 'Untitled' }
{ results ? 'ready' : 'loading' }
{ new Date() }
{ message.length > 140 && 'Message is too long' }
{ Math.round(rating) }
</code></pre>
                </section>

<!-- ********************************** Tree Start ************************************** -->
                <section id='tree'>
                    <h2>Tree</h2><hr>
                    <p>树结构组件可以直接根据数据生成树结构，支持一维数组结构和树状结构的数据，可以配置点击回调。</p>
                    <h5>实例:</h5>
                    <div class="demo">
                        <div id="tree-wrap">
                            <tree></tree>
                        </div>
                    </div>
                    <h5>HTML:</h5>
                    <pre><code class="language-markup"><script type="prism-html-markup">
<div id="tree-wrap" class="demo">
    <tree></tree>
</div></script></code></pre>

                    <h5>JavaScript:</h5>
                    <pre><code class="language-javascript">
var treeOpts = {
    data: [
        {id: 1, pid: null, title: 'root'},
        {id: 2, pid: 1, title: 'item1'},
        {id: 3, pid: 1, title: 'item2'},
        {id: 4, pid: 2, title: 'item3'},
        {id: 5, pid: 1, title: 'item4'},
        {id: 6, pid: 3, title: 'item5'},
        {id: 7, pid: 2, title: 'item6'},
    ],
    root: true,         //标示符，必须为true
    handleData: true,   //data为一维数组，选true, data为树结构，选false
    name: 'title',      //名称字段在接口中的字段名
    onLeftClick: function(item, target) {     
        alert('This item\'s id is: ' + item.id);
    }
    //左键点击的回调。第一个参数为对应的数据item, 第二个参数为对应的dom
    showCheck: true,   //是否展示checkbox, 默认为false;
    onCheck: function(item, target) {
        alert(item.id + 'checked');
    },  //checkbox选中时的回调
    onUnCheck: function(item, target) {
        alert(item.id + 'unchecked');
    }  //checkbox取消时的回调
}
riot.mount('.demo tree', treeOpts);
                    </code></pre>
                </section>

<!-- ********************************** Table Start ************************************** -->
                <section id="table">
                    <h2>Table</h2><hr>
                    <p>表格组件可以根据数据生成表格，使用rcol标签控制字段的排序、表头名、内容的拼接、列的宽度，使用参数配置表头展示、固定等。</p>
                    <p>表格组件还支持加载、追加、情况、删除、排序等功能函数。</p>

                    <h5>实例:</h5>
                    <div class="demo">
                        <table-view>
                            <rcol name="city" width="200px" class="test test1"><a href="<%= testMethod(desc) %>" hide="<%= status==1%>" onclick="Test.test('<%= 'sss'||desc%>')"><%= city%></a></rcol>
                            <rcol name="desc" width="200px"></rcol>
                            <rcol name="name" alias="姓名"></rcol>
                            <rcol alias="测试"><button class="btn btn-primary">测试</button></rcol>
                        </table-view>
                    </div>
                    <button class="btn btn-default" onclick="recoverTable()">恢复初始值</button>
                    <button class="btn btn-default" onclick="reloadTable()">加载新数据</button>
                    <button class="btn btn-default" onclick="appendCell()">追加数据</button>
                    <button class="btn btn-default" onclick="deleteCell()">删除指定数据</button>
                    <button class="btn btn-default" onclick="clearCell()">清空数据</button>
                    <button class="btn btn-default" onclick="orderCell()">指定字段排序</button>
                    <button class="btn btn-default" onclick="reverseCell()">指定字段倒序</button>
                    <button class="btn btn-default" onclick="hideCell()">指定字段隐藏</button>
                    <button class="btn btn-default" onclick="showCell()">指定字段展示</button>

                    <h5>HTML:</h5>
                    <pre><code class="language-markup"><script type="prism-html-markup">
<div class="demo">
    <table-view>
        <rcol name="city"><a href="<%= testMethod(desc)%>" hide="<%= status==1%>"><%= city%></a></rcol>
        <rcol name="desc" width="200px"></rcol>
        <rcol name="name" alias="姓名"></rcol>
        <rcol alias="测试"><button class="btn btn-primary">测试</button></rcol> <!-- 不对应任何字段的情况-->
    </table-view>
</div></script></code></pre>

                    <h5>JavaScript:</h5>
                    <pre><code class="language-javascript">
var tableOpts = {
    data: [
        {city: 'BeiJing', name: 'Sherman', desc: 'he is a Tank'},
        {city: 'ShangHai', name: 'Ruth', desc: 'she is a nice girl'},
        {city: 'ChengDu', name: 'Billy', desc: 'hehehe'},
        {city: 'GuangZhou', name: 'Silly', desc: 'bad weather!'}
    ],
    class: 'table',    //table上添加的class，可配合Bootstrap
    showHeader: true,  //是否展示表头
    cut: true,         //内容超长是否省略
    newline: false,    //内容超长是否换行
}
riot.mount('.demo  table-view', tableOpts);
riot.mount('rcol');

iToolkit.tableExtend.testMethod = function(str) {
    return str + 'aaaa';
}  //table cell内的方法需要在该命名空间下注册，以处理相应列的数据。
                    </code></pre>

                    <h5>Handle The Table:</h5>
                    <pre><code class="language-javascript">
var dom = document.querySelector('table-view');
dom.loadData([{city: 'LuoYang', name: 'mudan', desc: 'It is pretty'}]);  //load new data
dom.appendData({city: 'LuoYang', name: 'mudan', desc: 'It is pretty'}); //append data
dom.deleteData('city', 'LuoYang'); //delete data
dom.clearData();  //clear data
dom.orderData('city'); //order by 'city'
dom.reverseData('city'); //reverse by 'city'
dom.hide('city'); //hide 'city' col
dom.show('city'); //show 'city' col
                    </code></pre>
                </section>
 
<!-- ********************************** Paginate Start ************************************** -->               
                <section id="paginate">
                    <h2>Paginate</h2><hr>
                    <p>分页组件可以由配置数据直接生成，可以配置跳页回调、展示数量等数据</p>
                    <h5>Example:</h5>
                    <div class="demo">
                        <paginate></paginate>
                        <p>The page number is <b id="page-number"></b></p>
                    </div>
                    <h5>HTML:</h5>
                    <pre><code class="language-markup"><script type="prism-html-markup">
<div class="demo">
    <paginate></paginate>
    <p>The page number is <b id="page-number"></b></p>
</div></script></code></pre>
                    
                    <h5>JavaScript:</h5>
                    <pre><code class="language-javascript">
var pageOpts = {
    count: 120,     //总条目数
    pagesize: 10,   //每页的条目数
    pageCount: 12,  //页数，非必须，会覆盖总条数/每页条数的计算结果
    showNumber: 5,  //分页格的最大数量
    currentPage: 2, //初始化的页码，默认是1
    needInit: true,  //初始化时是否执行callback，默认false
    callback: function(index) {
        document.getElementById('page-number').innerHTML = index;
    }               //页数变化时的回调，会将跳转页码作为参数传入
}
riot.mount('.demo paginate', pageOpts);
                    </code></pre>

                </section>

<!-- ********************************** Modal Start ************************************** -->
                <section id="modal">
                    <h2>Modal</h2><hr>
                    <p>可以配置模态框的高度、宽度、title; 并且可以将相关的数据带入模板</p>
                    <h5>Example:</h5>
                    <div class="demo">
                        <button modal-open-target='modal-demo' class="btn btn-success">Open Modal</button>
                        <modal id="modal-demo">
                            <h1>welcome!</h1>
                            <p>welcome, king under the montain!</p>
                            <p>{ data.desc }</p>
                        </modal>
                    </div>

                    <h5>HTML:</h5>
                    <pre><code class="language-markup"><script type="prism-html-markup">
<div class="demo">
    <button modal-open-target='modal-demo' class="btn btn-success">Open Modal</button>
    <modal id="modal-demo">
        <h1>welcome!</h1>
        <p>welcome, king under the montain!</p>
        <p>{ data.desc }</p>
    </modal>
</div></script></code></pre>

                    <h5>JavaScript:</h5>
                    <pre><code class="language-javascript">
var modalOpts = {
    height: 300,  //如果不填，height为auto;
    width: 300,
    title: 'Modal demo',
    data: {
        desc: 'hehehe'
    }
}
riot.mount('.demo modal', modalOpts);
document.querySelector('#modal-demo').open();  //JS控制模态框打开
document.querySelector('#modal-demo').close(); //JS控制模态框关闭
                    </code></pre>
                </section>

<!-- ********************************** Super-Form Start ************************************** -->
                <section id="super-form">
                    <h2>Super-form</h2><hr>
                    <p>可以提供ajax提交、防连击保护、表单校验、数据模板、常用指令等五大功能</p>
                    <h5>Example:</h5>
                    <div class="demo">
                        <super-form action="/test">
                            <input type="text" name="t1" value="{ data.a }" if="{ data.a==2 }">

                            <label>
                                Must be: 
                                <input type="text" name="present" value="1" valid="present" max="10">
                            </label><br>

                            <label>
                                email: 
                                <input type="text" name="email" value="xieyu@baidu.com" valid="email">
                            </label><br>

                            <label>
                                url: 
                                <input type="text" name="url" value="http://www.baidu.com" valid="url">
                            </label><br>

                            <label>
                                mobile: 
                                <input type="text" name="mobile" value="13927678767" valid="mobile">
                            </label><br>

                            <label>
                                RegExp:
                                <input type="text" name="t4" value="test" valid="/test/">
                            </label><br>

                            <label>
                                text more than 2: 
                                <input type="text" name="t3" value="{ data.b }" min="3">
                            </label><br>

                            <label>
                                text less than 9: 
                                <input type="text" name="t4" value="good! There it is!" max="9">
                            </label><br>

                            <label>
                                select:
                                <select>
                                    <option value="{ data.a }">{ data.a }</option>
                                    <option value="{ data.b }">{ data.b }</option>
                                </select>
                            </label><br>

                            <input type="submit" class="btn btn-primary" value="提交">
                        </super-form>
                    </div>

                    <h5>HTML:</h5>
                    <pre><code class="language-markup"><script type="prism-html-markup">
<div class="demo">
    <super-form action="/test">
        <input type="text" name="t1" value="{ data.a }" if="{ data.a==2 }">
        <label>
            Must be:  <input type="text" name="present" value="" valid="present">
        </label><br>
        <label>
            email: <input type="text" name="email" value="xieyu" valid="email">
        </label><br>
        <label>
            url: <input type="text" name="url" value="http://www." valid="url">
        </label><br>
        <label>
            mobile: <input type="text" name="mobile" value="a13927678767" valid="mobile">
        </label><br>
        <label>
            RegExp: <input type="text" name="t4" value="tes" valid="/test/">
        </label><br>
        <label>
            text more than 2: <input type="text" name="t3" value="{ data.b }" min="3">
        </label><br>
        <label>
            text less than 9: <input type="text" name="t4" value="good! There it is!" max="9">
        </label><br>
        <label>
            select:
            <select>
                <option value="{ data.a }">{ data.a }</option>
                <option value="{ data.a }">{ data.b }</option>
            </select>
        </label><br>
        <input type="submit" class="btn btn-primary" value="提交">
    </super-form>
</div></script></code></pre>

                    <h5>JavaScript</h5>
                    <pre><code class="language-javascript">
var formOpts = {
    data: {
        a: 1,
        b: 'he'
    },
    valid: true,                //是否执行校验
    complete: function() {      //提交完成的回调，可不填
        alert('complete');
    },
    callback: function() {      //提交成功的回调
        alert('success');      
    },
    errCallback: function(params) {   //提交失败的回调
        alert("error, params:" + params);
    },
    normalSubmit: false,             //是否为ajax提交, 默认为true
    onValidRefuse: function(dom, message) {        //验证失败的回调函数,非必需,组件提供了默认动作
       alert(message);  //覆盖默认动作
    },

    onValidPass: function(dom, message) {    //验证成功的回调函数,非必需,组件提供了默认动作
        alert(message);
    },

    submitingText: 'submiting...',   //提交中状态文字，默认为“提交中...”
    passClass: 'pass',          //验证通过时为input添加的class， 默认为valid-pass
    failedClass: 'failed'         //验证失败时为input添加的class，默认为valid-failed
}
riot.mount('.demo super-form', formOpts);
var theForm = document.querySelector('.demo super-form');
console.log(theForm.getData()); //返回obj形式的key-value表单数据，注意name相同会覆盖。

EC.on('submit_success', function(result) {
    console.log(result);                   
}); //提交成功(状态码200)后会抛出'submit_success'这个事件，监听该事件，执行一些公共的处理方法。
                    </code></pre>
                </section>


<!-- ********************************** Super-Div Start *************************************** -->
                <section id="super-div">
                    <h2>Super-div</h2><hr>
                    <p>为super-div容器内的元素提供模板和基础指令</p>
                    <div class="demo">
                        <div style="padding: 10px; border: 1px solid #e5e5e5;">
                            <super-div>
                                <h4 onclick="{ warning }" style="cursor: pointer;">{ data.title }</h4>
                                <p>{ data.desc }</p>
                                <ul>
                                    <li each="{ data.list }" onclick="{ parent.changeItem }">{ name }</li>
                                </ul>
                                <editable-link name="{ data.title }" text="{ data.desc }" action="/change/value"></editable-link>
                            </super-div>
                        </div>
                    </div>

                    <h5>HTML:</h5>
                    <pre><code class="language-markup"><script type="prism-html-markup">
<div class="demo">
    <super-div>
        <h4 onclick="{ warning }">{ data.title }</h4>
        <p>{ data.desc }</p>
        <ul>
            <li each="{ data.list }" onclick="{ parent.changeItem }">{ name }</li>
        </ul>
    </super-div>
</div></script></code></pre>
                    
                    <h5>JavaScript:</h5>
                    <pre><code class="language-javascript">
var divOpts = {
    data: {
        title: '复仇者联盟',
        desc: '讲述了超级英雄拯救世界的故事。',
        list: [{name: "钢铁侠"},{name: "绿巨人"},{name: "美国队长"},{name: "黑寡妇"},{name:"鹰眼"}]
    },

    warning: function(e) {     //可以定义函数，供事件调用
        console.log(e.target);  //对应的dom元素
        console.log(e.item);    //each情况下数组对应的数据
        alert('test');
    },

    changeItem: function(e) {     //可以定义函数，供事件调用
        console.log(e.item);    //each情况下数组对应的数据
        e.item.name="test";
    }
}
riot.mount('.demo super-div', divOpts);

var dom = document.querySelector('.demo super-div');
dom.reload(); //重新渲染数据，如果有data-get或data-jsonp则会重新请求
dom.loadData({
    title: '复仇者联盟2',
    desc: '讲述了超级英雄拯救世界的故事2。',
    list: [{name: "钢铁侠"},{name: "绿巨人"},{name: "美国队长"},{name: "黑寡妇"},{name:"鹰眼"}]
}, 'data')  //第一个参数为新的数据，第二个参数为数据的字段名，默认为data
                    </code></pre>
                     <p>super-div还内置了httpGet和jsonp两种自动映射接口数据的方式：</p>
                     <h5>HTML:</h5>
                     <pre><code class="language-markup"><script type="prism-html-markup">
<div class="demo">
    <super-div id="http-get" data-get="/data/test.json">
        <div>{ data.code }</div>    <!-- 接口里的code字段 -->
    </super-div>
    <super-div id="jsonp" data-jsonp="/data/jsonp.json"></super-div>
</div></script></code></pre>
                    <h5>JavaScript:</h5>
                    <pre><code class="language-javascript">

riot.mount('#http-get', {params: {name: "Tom"}}); //params里填写url query参数
riot.mount('#jsonp', {params: {name: "Tom"}});
                    </code></pre>
                </section>

<!-- ********************************** Tab Start *************************************** -->

                <section id="tab">
                    <h2>Tab</h2><hr>
                    <h5>Example:</h5>
                    <div class="demo">
                        <tab></tab>
                    </div>
                    <h5>HTML:</h5>
                    <pre><code class="language-markup"><script type="prism-html-markup">
<div class="demo">
    <tab></tab>
</div></script></code></pre>

                    <h5>JavaScript:</h5>
                    <pre><code class="language-javascript">
var tabOpts = {
    data: [
       { title: 'tab1', content: '1111'},
       { title: 'tab2', content: '2222'},
       { title: 'tab3', content: '3333'}
    ]
}
riot.mount('.demo tab', tabOpts);
                    </code></pre>
                </section>

<!-- ********************************** Loading Start *************************************** -->

                <section id="loading">
                    <h2>Loading</h2><hr>
                    <p>自动相对父元素居中，默认CSS3 Loading动画, 可自定义loading图片和图片高度(宽度根据高度自适应)</p>
                    <h5>Example:</h5>
                    <super-div class="demo" style="float: left;">
                        <loading></loading>
                    </super-div>

                    <div class="wrap" style="float: left;">
                        <loading></loading>
                    </div>
                    <div class="clearfix"></div>

                    <h5>HTML:</h5>
                    <pre><code class="language-markup"><script type="prism-html-markup">
<div class="demo">
    <loading></loading>
</div></script></code></pre>

                    <h5>JavaScript:</h5>
                    <pre><code class="language-javascript">
riot.mount('.demo loading'); //不写config, 使用默认的CSS 3动画

var loadingOpts = {
    img: 'img/loading.gif',   //loading图片url
    imgHeight: '60px';        //图片高度
}
riot.mount('.demo loading', loadingOpts);
                    </code></pre>
                </section>

<!-- ********************************** Goto-Top Start *************************************** -->
                <section id="goto-top">
                    <h2>Goto-Top</h2><hr>
                    <p>返回顶部，默认CSS3 图标, 可自定义返回顶部的图片和图片高度(宽度根据高度自适应), </p>
                    <h5>HTML:</h5>
                    <pre><code class="language-markup"><script type="prism-html-markup">
<div class="demo">
    <goto-top></goto-top>
</div></script></code></pre>

                    <h5>JavaScript:</h5>
                    <pre><code class="language-javascript">
riot.mount('.demo goto-top');
                    </code></pre>
                </section>

<!-- ******************************** editable-link Start ********************************** -->
                <section id="editable-link">
                    <h2>editable-link</h2><hr>
                    <p>可以编辑的文字链接</p>
                    <h5>Example:</h5>
                    <editable-link text="点击这里修改" name="test" action="/change/value"></editable-link>
                    
                    <h5>HTML:</h5>
                    <pre><code class="language-markup"><script type="prism-html-markup">
<editable-link text="点击这里修改" name="test" action="/change/value"></editable-link>
</script></code></pre>

                    <h5>JavaScript:</h5>
                    <pre><code class="language-javascript">
riot.mount('editable-link', { errCallback: function(){alert('failed')} });
                    </code></pre>
                </section>
    
<!-- ****************************** editable-link end *************************************** -->

                <goto-top></goto-top>
            </div>
        </div>



<!-- JavaScript-->
        <script>            
            /*
             *  tab切换
             */
            var tabOpts = {
                data: [
                   { title: 'tab1', content: '1111'},
                   { title: 'tab2', content: '2222'},
                   { title: 'tab3', content: '3333'}
                ]
            }
            riot.mount('.demo tab', tabOpts);

            /*
             *  table
             */
            var tableOpts = {
                data: [
                    {city: 'BeiJing', name: 'Sherman', desc: 'he is a Tank, wahahahahaha'},
                    {city: 'ShangHai', name: 'Ruth', desc: 'she is a nice girl'},
                    {city: 'ChengDu', name: 'Billy', desc: 'hehehe'},
                    {city: 'GuangZhou', name: 'Silly', desc: 'bad weather!'}
                ],
                class: 'table',
                showHeader: true,
                cut: true,
                newline: false
            }

            iToolkit.tableExtend.testMethod = function(str) {
                return str + 'aaaa';
            }
            
            riot.mount('.demo  table-view', tableOpts);
            riot.mount('rcol');

            function recoverTable() {
                dom = document.querySelector('table-view');
                dom.loadData([
                    {city: 'BeiJing', name: 'Sherman', desc: 'he is a Tank'},
                    {city: 'ShangHai', name: 'Ruth', desc: 'she is a nice girl'},
                    {city: 'ChengDu', name: 'Billy', desc: 'hehehe'},
                    {city: 'GuangZhou', name: 'Silly', desc: 'bad weather!'}
                ]);
            }

            function reloadTable() {
                dom = document.querySelector('table-view');
                dom.loadData([{city: 'LuoYang', name: 'mudan', desc: 'It is pretty'}]);
            }

            function appendCell() {
                dom = document.querySelector('table-view');
                dom.appendData({city: 'LuoYang', name: 'mudan', desc: 'It is pretty'});
            }

            function deleteCell() {
                dom = document.querySelector('table-view');
                dom.deleteData('city', 'LuoYang');
            }
            function clearCell() {
                dom = document.querySelector('table-view');
                dom.clearData();
            }

            function orderCell() {
                dom = document.querySelector('table-view');
                dom.orderData('city');
            }

            function reverseCell() {
                dom = document.querySelector('table-view');
                dom.reverseData('city');
            }

            function hideCell() {
                dom = document.querySelector('table-view');
                dom.hide('city');
            }

            function showCell() {
                dom = document.querySelector('table-view');
                dom.show('city');
            }

            /*
             *  分页
             */
            var pageOpts = {
                count: 120,
                pagesize: 10,
                showNumber: 5,
                needInit: true,
                callback: function(index) {
                    document.getElementById('page-number').innerHTML = index;
                }
            }
            riot.mount('.demo paginate', pageOpts);


            /*
             *  模态弹出框
             */
            var modalOpts = {
                height: 300,  //如果不填，height为auto;
                width: 300,
                title: 'Modal demo',
                data: {
                    desc: 'hehehe'
                }
            }
            riot.mount('.demo modal', modalOpts);
            document.querySelector('#modal-demo').open();
            document.querySelector('#modal-demo').close();

            /*
             *  树结构
             */
            var treeOpts = {
                data: [
                    {id: 1, pid: null, title: 'root'},
                    {id: 2, pid: 1, title: 'item1'},
                    {id: 3, pid: 1, title: 'item2'},
                    {id: 4, pid: 2, title: 'item3'},
                    {id: 5, pid: 1, title: 'item4'},
                    {id: 6, pid: 3, title: 'item5'},
                    {id: 7, pid: 2, title: 'item6'},
                ],
                root: true,
                handleData: true,
                name: 'title',
                showCheck: true,
                onLeftClick: function(item, target) {
                    alert('This item\'s id is: ' + item.id);
                },
                onCheck: function(item, target) {
                    alert(item.id + 'checked');
                },
                onUnCheck: function(item, target) {
                    alert(item.id + 'unchecked');
                }
            }
            riot.mount('.demo tree', treeOpts);

            /*
             *  super form 提交
             */
            var formOpts = {
                data: {
                    a: 1,
                    b: 'he'
                },
                valid: true,       //是否执行校验
                complete: function() {
                    alert('complete');
                },
                callback: function() {
                    alert('success');
                },
                errCallback: function(params) {
                    alert("error, params:" + params);
                }
            }
            riot.mount('.demo super-form', formOpts);
            var theForm = document.querySelector('.demo super-form');
            console.log(theForm.getData());

            /*
             *  super-div
             */
            var divOpts = {
                data: {
                    title: '复仇者联盟',
                    desc: '讲述了超级英雄拯救世界的故事。',
                    list: [{name: "钢铁侠"},{name: "绿巨人"},{name: "美国队长"},{name: "黑寡妇"},{name:"鹰眼"}]
                },

                warning: function(e) {
                    console.log(e.target);
                    alert('test');
                },

                changeItem: function(e) {
                    console.log(e.item);
                    e.item.name = 'test';
                }
            }
            riot.mount('.demo super-div', divOpts);

            var dom = document.querySelector('.demo super-div');
            dom.loadData({
                title: '复仇者联盟2',
                desc: '讲述了超级英雄拯救世界的故事2。',
                list: [{name: "钢铁侠"},{name: "绿巨人"},{name: "美国队长"},{name: "黑寡妇"},{name:"鹰眼"}]
            }, 'data')  //第一个参数为新的数据，第二个参数为数据的字段名，默认为data

            /*
             *  loading
             */
            
            riot.mount('super-div.demo');

            riot.mount('.wrap loading', { img: 'http://thinkfuture.com/wp-content/uploads/2013/10/loading_spinner.gif', imgHeight: '70px' });

            /*
             *  goto-top
             */
            riot.mount('goto-top', {right: '4px'});

            /*
             * editable-link
             */
            
            riot.mount('editable-link', { errCallback: function(){alert('failed')} });

        </script>
        <script src="demos/prism.js"></script>
    </body>
</html>