/*
 * 移除number输入框的
 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}

input[type="number"]{
    -moz-appearance:textfield;
}