
itk-calendar {
  position: relative;
  width: 254px;
  display: block;
  border: 1px solid #95A0A6;
  color: #95A0A6;
  background: #fff;
  text-align: center;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
itk-calendar .itk-calendar-head {
  height: 35px;
  line-height: 35px;
}
itk-calendar .itk-calendar-head :after {
  width: 0;
  height: 0;
  overflow: hidden;
  content: "";
  clear: both;
}
itk-calendar .itk-calendar-head > div {
  display: inline-block;
  width: 30px;
}
itk-calendar .itk-calendar-head .itk-calendar-month-prev,
itk-calendar .itk-calendar-head .itk-calendar-year-prev {
  float: left;
}
itk-calendar .itk-calendar-head .itk-calendar-month-next,
itk-calendar .itk-calendar-head .itk-calendar-year-next {
  float: right;
}
itk-calendar .itk-calendar-head .btn {
  cursor: pointer;
}
itk-calendar .itk-calendar-head .btn:hover {
  background: #F9FAFA;
}
itk-calendar .itk-calendar-head .itk-calendar-month,
itk-calendar .itk-calendar-head .itk-calendar-year {
  width: 62px;
}
itk-calendar .itk-calendar-body .itk-calendar-weeks {
  height: 36px;
  line-height: 36px;
  background: #F9FAFA;
}
itk-calendar .itk-calendar-body .itk-calendar-weeks > div {
  width: 36px;
  display: inline-block;
}
itk-calendar .itk-calendar-body .itk-calendar-day {
  display: inline-block;
  height: 36px;
  width: 36px;
  line-height: 34px;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
itk-calendar .itk-calendar-body .itk-calendar-day.cursor {
  cursor: pointer;
}
itk-calendar .itk-calendar-body .itk-calendar-day.today {
  border-color: #95A0A6;
}
itk-calendar .itk-calendar-body .itk-calendar-day.selected,
itk-calendar .itk-calendar-body .itk-calendar-day:hover {
  background: #F9FAFA;
}

itk-center .itk-loading {
  text-align: center;
}
itk-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

itk-div {
  display: block;
}
itk-div {
  display: none;
}

itk-form {
  display: none;
}
itk-form .tip-container {
  color: #d68273;
  padding-left: 10px;
  font-size: 13px;
}
itk-form .tip-container.success {
  color: #8bad4c;
}
itk-form .valid-pass {
  border: 1px solid green;
  border-color: #9cc573;
  color: #8bad4c;
}
itk-form .valid-failed {
  border: 1px solid red;
  border-color: #f2a696;
  color: #d68273;
}

itk-modal {
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.4);
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
itk-modal .itk-modal-dialog {
  width: 650px;
  margin: 50px auto;
  background: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
}
itk-modal .itk-modal-title {
  width: 100%;
  position: relative;
  height: 43px;
  line-height: 43px;
  font-size: 16px;
  font-weight: bolder;
  color: #333;
  border-radius: 6px 6px 0 0;
  background: #f0f1f6;
}
itk-modal .itk-modal-title > span {
  padding-left: 16px;
}
itk-modal .itk-modal-title .itk-modal-close-wrap {
  position: absolute;
  right: 0;
  top: 0;
  height: 43px;
  cursor: pointer;
  padding-left: 10px;
}
itk-modal .itk-modal-title .itk-modal-close {
  margin: 20px 10px 0 0;
  display: inline-block;
  width: 12px;
  height: 2px;
  background: #29282f;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
}
itk-modal .itk-modal-title .itk-modal-close:after {
  content: '.';
  display: block;
  width: 12px;
  height: 2px;
  background-color: #29282f;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
itk-modal .itk-modal-container {
  padding: 10px 20px;
  overflow-y: auto;
}
itk-modal .itk-modal-container * {
  white-space: pre-line;
  word-wrap: break-word;
}

itk-paginate .itk-paginate {
  display: inline-block;
  padding: 0;
}
itk-paginate .itk-paginate li {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
itk-paginate .itk-paginate li.active {
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
itk-paginate .itk-paginate .itk-paginate-tips {
  position: absolute;
  padding: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}
itk-paginate .itk-paginate .itk-paginate-tips:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -16px;
  left: 10px;
  border: 8px solid transparent;
  border-bottom-color: #ddd;
}
itk-paginate .itk-paginate .itk-paginate-tips:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -15px;
  left: 10px;
  border: 8px solid transparent;
  border-bottom-color: #fff;
}

itk-select {
  display: block;
  position: relative;
  cursor: pointer;
}
itk-select select {
  display: none;
}
itk-select .itk-selected-container {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  display: inline-block;
  border-radius: 0;
  border: 1px solid #d2d6de;
  text-align: left;
}
itk-select .itk-selected-container .itk-selected-option {
  display: inline-block;
  padding: 4px 8px;
  background: #3c8dbc;
  border-color: #367fa9;
  color: #ffffff;
  border-radius: 4px;
  margin: 1px 5px 0 0;
  vertical-align: middle;
}
itk-select .itk-selected-container .itk-single-option {
  display: inline-block;
}
itk-select .itk-search-wrap {
  width: 1em;
  display: inline-block;
  min-height: 34px;
}
itk-select .itk-search-wrap input {
  padding-left: 0;
  padding-right: 0;
  height: 30px;
  border: none;
}
itk-select .itk-options-container {
  padding: 0;
  text-align: left;
  position: absolute;
  width: 100%;
  border: 1px solid #d2d6de;
  border-top: none;
  z-index: 10000;
  background: #ffffff;
  display: none;
  max-height: 150px;
  overflow-y: auto;
}
itk-select .itk-options-container .itk-options {
  padding: 6px 12px;
}
itk-select .itk-options-container .itk-options:hover {
  background: #eff3f8;
}
itk-select .itk-options-container .no-result {
  text-align: center;
  padding: 6px 0;
}
itk-select .empty-icon {
  padding: 0 6px;
}
itk-select .itk-option-check {
  /* 对勾*/
  display: inline-block;
  height: 16px;
  width: 16px;
  position: relative;
}
itk-select .itk-option-check:after {
  -webkit-transition: opacity 0.05s ease-in-out;
  transition: opacity 0.05s ease-in-out;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 33%;
  left: 25%;
  display: table;
  width: 12px;
  height: 6px;
  border: 2px solid #333333;
  border-top: 0;
  border-right: 0;
  content: ' ';
}

itk-slide {
  display: none;
}

itk-tab ul {
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
  margin: 0;
}
itk-tab li {
  list-style: none;
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
}
itk-tab li.active {
  background: #e5e5e5;
  border: 1px solid #333;
  border-bottom: none;
}
itk-tab .tab-content {
  width: 100%;
  padding: 5px;
}

itk-table {
  display: none;
}

itk-tree .tree-item-wrap {
  position: relative;
}
itk-tree .tree-item-icon {
  /*display: inline-block;
        height: 13px;
        width: 20px;
        background: url(../imgs/icons.png) no-repeat;
        background-position: -256px -64px; */
  cursor: pointer;
}
itk-tree .tree-item-wrap input {
  vertical-align: top;
  z-index: 2;
  position: relative;
}
itk-tree .tree-item-name {
  display: inline-block;
  cursor: pointer;
  font-weight: bolder;
  color: #29282f;
  position: relative;
  z-index: 100;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
itk-tree .tree-item-name.active {
  position: relative;
  z-index: 100;
}
itk-tree .tree-item-name:hover + .tree-item-back {
  background: #d6d7dc;
}
itk-tree .tree-item-name.right-active + .tree-item-back {
  background: #d6d7dc;
}
itk-tree selector .tree-item-back.active,
itk-tree selector .tree-item-back:hover {
  background: #eff3f8;
}
itk-tree selector .tree-item-name:hover + .tree-item-back {
  background: #eff3f8;
}
itk-tree selector .tree-item-name.right-active + .tree-item-back {
  background: #eff3f8;
}
itk-tree .tree-item-back.active,
itk-tree .tree-item-back:hover {
  background: #d6d7dc;
}
itk-tree .tree-child-wrap {
  padding: 0;
  position: relative;
}
itk-tree .tree-item-arrow {
  display: inline-block;
  margin: 5px 2px 0 0;
  vertical-align: top;
  border-top: 5px solid transparent;
  border-left: 10px solid #999999;
  border-bottom: 5px solid transparent;
  cursor: pointer;
  position: relative;
  z-index: 100;
}
itk-tree .tree-item-arrow.open {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #999999;
}
itk-tree .tree-item-row > div {
  display: inline-block;
}
itk-tree .tree-item-arrow.empty {
  border: none;
}
itk-tree .tree-item-arrow ~ ul {
  display: none;
}
itk-tree .tree-item-arrow.open ~ ul {
  display: block;
}
